<div class="question">
  <div class="question-title">
    <%= question.escape("title") %>
  </div>

  <br>
  <br>

  <div class="question-body">
    <%= question.escape("body") %>
  </div>

  <br>

  <div class="question-info right">
    <div class="left">
      <span title="<%= question.escape("created_at") %>">
        asked <%= $.timeago(question.escape("created_at")) %>
      </span>
      <br>
      <div class="">
        <%= question.escape("asker_id") %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<br>

<div class="comments-list"></div>
<div class="clear"></div>
<div class="new-question-comment hidden"></div>

<button class="add-question-comment">Add comment</button>

<div class="accepted-answer"></div>
<div class="answer-list"></div>
<div class="new-answer"></div>