<!DOCTYPE html>
<html>
<head>
  <title>StackOverflowClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="right">
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </div>
  <div class="main-nav">
    <ul>
      <li><%= link_to "Questions", questions_url %></li>
      <li>Tags</li>
      <li><%= link_to "Users", users_url %></li>
      <li>Unanswered</li>
      <li><%= link_to "Ask Question", ask_question_url %></li>
    </ul>
  </div>

  <!-- Devise setup step 3 -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
